<div class="container">
  <header class="pageHeader">
      <h3><i class="fa fa-bicycle fa-lg page-caption" aria-hidden="true"></i> To Do</h3>
  </header>

  <div >
      <span class="text-muted">-- To Do List --</span>
      <div>
        <div *ngFor="let p of todos">
          <div><strong>Id</strong>: {{ p.id }}</div>
          <div><strong>Task</strong>: {{ p.task }}</div>
          <div><strong>Description</strong>: {{ p.description }}</div>
          <div>
            <button id="buyButton2" (click)="TodoClicked(p)">Console log</button>
          </div>
        </div>
      </div>
  </div>
</div>
